@model TodoListApp.Models.TodoList.DTO.TodoListUpdateDto

@{
	Layout = "/Views/TodoList/_TodoListLayout.cshtml";

	Uri? returnUrl = TempData["ReturnUrl"] as Uri;
}

@section BreadCrumbs {
	<nav class="fs-5 fw-bold">
		<span><a href="/TodoLists" class="text-white text-decoration-underline">TodoLists</a></span>
		<span class="text-white mx-2">/</span>
		<span class="text-white">Edit</span>
	</nav>
}

@if (@Model != null) {
	<div class="bg-light">
		<form asp-controller="TodoList" asp-action="Edit" asp-route-id="" method="post" class="p-4 bg-light rounded shadow-sm">
			<div class="d-flex justify-content-between align-items-center bg-primary p-3 mb-3 rounded-3">
				<h2 class="text-light">Editing todo list</h2>

				<button type="submit" class="btn btn-primary">
					<i class="fas fa-save p-3 text-dark bg-light fs-5 rounded-3"></i>
				</button>
			</div>

			<div class="mb-3">
				<label for="Title" class="form-label">Title: </label>
				<input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" required />
			</div>

			<div class="mb-3">
				<label for="Description" class="form-label">Description: </label>
				<textarea class="form-control" id="Description" name="Description" rows="4">@Model.Description</textarea>
			</div>

			<input type="hidden" name="TodoListId" value="@Model.TodoListId" />
			<input type="hidden" name="returnUrl" value="@returnUrl" />
		</form>
	</div>
}